extends layout

block script

	
block content
	include navbar
	.container
		.panel-group#profileaccordion
			.panel-group
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a.accordion-toggle#accordion1(data-toggle='collapse', data-parent='#profileaccordion', href='#collapseOne')
								| My Information
					#collapseOne.panel-collapse.collapse
						.panel-body
							form.form-horizontal#profileForm.col-lg-offset-10(action='/saveProfile',method='post', name='profileUpdate', enctype="multipart/form-data")
								.form-group
									label.col-lg-3.control-label(for='name') Name
									.col-lg-6
										input#name.form-control(type='text', placeholder='name', name='name', value='#{user.name}' , required)
								.form-group
									label.col-lg-3.control-label(for='email') Email
									.col-lg-6
										input#email.form-control(type='email', placeholder='Email',name='email', value='#{user.email}' , required)
								.form-group
									label.col-lg-3.control-label(for='phone') Phone
									.col-lg-4
										input#phone.form-control(type='tel', placeholder='Phone', name='phone', value='#{user.phone}' )
									.col-lg-2
										button.btn.btn-primary(type='submit') Save
			.panel-group
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a.accordion-toggle#accordion2(data-toggle='collapse', data-parent='#profileaccordion', href='#collapseTwo')
								| My Books
								

					#collapseTwo.panel-collapse.collapse
						.panel-body
							table.table.table-striped
								each item in books
									-var facebookLink = 'http://www.facebook.com/sharer.php?s=100&p[title]='+item.title+' - $'+item.price+'&p[summary]='+item.description+'&p[url]=http://www.uprmbooks.com/book/'+item._id+'&p[images][0]='+item.thumbnail
									div(id=item._id)
										tr
											td.social_share
												a(href=facebookLink, target="_blank", onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')")
													img(src="/img/share.png")
											td
												a(href="http://www.uprmbooks.com/book/"+item._id, target="_blank") #{item.title}
											td
												a(_id=item._id, title='Delete: ' + item.title).remove_item x
							a.btn.btn-primary.btn-lg.pull-right(data-toggle='modal', href='#addTextBook') Add textbook
							
		script.
			$(document).ready(function(){
				if($('#phone').val() === 'undefined')
					$('#phone').val('');
			})
		script.
			$(document).ready(function(){
				if($('#email').val() != null){
					$('#accordion2').click();
				}
				else		
					$('#accordion1').click();
			})

