extends layout

block head
    title #{book.title +' - $' + book.price}
    meta(name='description', content=book.description)
    meta(property='og:site_name', content='www.uprmbooks.com')
    meta(property='og:title', content=book.title)
    meta(property='og:description', content=book.description)
    meta(property='og:image', content=book.thumbnail)
    meta(property='og:url', content='http://www.uprmbooks.com/book/'+book._id)


block content
  include navbar
  .container#book_singleview
    .row
      .col-md-5.col-sm-offset-2
        h1 #{book.title} 
          span.btn.btn-success.disabled $#{book.price}
        
        h3 #{book.authors}
        
        p
          strong Description by Publisher:
            span.italic.not_bold #{book.description}
        
        p
          strong Description by Owner:
            span.italic.not_bold  #{book.owner_description}
        p
          strong ISBN10: 
            span.not_bold #{book.isbn10}
        p
          strong ISBN13: 
            span.not_bold #{book.isbn13}

        h4 Contact Information
        p Name: #{book.userID.name}
        p Email: #{book.userID.email}
        p Phone: #{book.userID.phone}
      .col-sm-2
        img.book_thumbnail(src=book.thumbnail)  