each book in data
        .panel.panel-default.inplace_search_item(title=book.title)
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle='collapse',data-parent="#accordion", href="#"+book._id)
                .row
                  .col-sm-8
                    p #{book.title}
                  .col-sm-2
                    p $#{book.price}
                  .col-sm-2
                    p.created #{book.created}
          .panel-collapse.collapse(id=book._id)
            .panel-body
              .row
                .col-md-6
                  h1 #{book.title} - 
                    span.btn.btn-success.disabled $#{book.price}

                    //- span.btn.btn-success.disabled $#{book.price}
                  
                  h3 #{book.authors}
                  
                  p
                    strong Description by Publisher:
                      span.italic.not_bold #{book.description}
                  
                  p
                    strong Description by Owner:
                      span.italic.not_bold  #{book.owner_description}
                  p
                    strong ISBN10: 
                      span.not_bold #{book.isbn10}
                  p
                    strong ISBN13: 
                      span.not_bold #{book.isbn13}

                  h4 Contact Information
                  p Name: #{book.userID.name}
                  p Email: 
                    a(href="mailto:"+book.userID.email) #{book.userID.email}
                  p Phone: 
                    a(href="tel:"+book.userID.phone, target="_blank") #{book.userID.phone}
                .col-md-2.col-sm-offset-1
                  img.book_thumbnail(src=book.thumbnail) 