extends layout

block script

block content
	include navbar

	.container
		script.
			$(function(){
				$('.created').text(moment($('#created')).fromNow());
				console.log($('.created').val());
			})
		.accordion
			each book in data
				.accordion-group
					.accordion-heading
						a.accordion-toggle(data-toggle='collapse', href="#"+book._id)
							.row
								.col-md-4
									p #{book.title}
								.col-sm-4
									p $#{book.price}
								.col-sm-4
									p.created #{book.created}
					.accordion-body.collapse(id=book._id)
						.accordion-inner
							p Title: #{book.title}
							p Condition: #{book.condition}
							p Authors:  #{book.authors}
							p ISBN 13: #{book.isbn13}
							p ISBN 10: #{book.isbn10}
							p Book Description: #{book.description}
							p Owner Description: #{book.owner_description}

							h3 Contact Information:
							p name: #{book.userID.name}
							p email: #{book.userID.email}
							p phone: #{book.userID.phone}


	#contactSeller.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Contact Seller
				.modal-body
					p Please write a message to send for this sellers book.
					textarea.form-control(rows='8')
				.modal-footer
					button.btn.btn-primary(type='button') Send Message
