extends layout

block script

block content
  include navbar
  .container
    form#list_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
      .form-group
        input#main#srch-term.form-control(type='text', placeholder='Search', name='query', required)
      button.btn.btn-default(type='submit')
        i.glyphicon.glyphicon-search
    .panel-group(style='margin-top:80px;')
      each item in data
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle='collapse',data-parent="#accordion", href="#"+item.book._id)
                .row
                  .col-sm-8
                    p #{item.book.title}
                  .col-sm-2
                    p $#{item.book.price}
                  .col-sm-2
                    p.created #{item.book.created}
          .panel-collapse.collapse(id=item.book._id)
            .panel-body
              .row
                .col-md-6
                  h1 #{item.book.title} 
                    //- span.btn.btn-success.disabled $#{book.price}
                  
                  h3 #{item.book.authors}
                  
                  p
                    strong Description by Publisher:
                      span.italic.not_bold #{item.book.description}
                  
                  p
                    strong Description by Owner:
                      span.italic.not_bold  #{item.book.owner_description}
                  p
                    strong ISBN10: 
                      span.not_bold #{item.book.isbn10}
                  p
                    strong ISBN13: 
                      span.not_bold #{item.book.isbn13}

                  h4 Contact Information
                  p Name: #{item.user.name}
                  p Email: #{item.user.email}
                  p Phone: #{item.user.phone}
                .col-md-2.col-sm-offset-1
                  img.book_thumbnail(src=item.book.thumbnail)  
